:root {
    /* Colors */
    /* Primary */
    --Dark-Violet: hsl(256, 25%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    /* Neutral */
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    /* font family */
    --font-Karla: "Karla", sans-serif;
    --font-Serif: "DM Serif Display", serif;
}
* {
    font-size: 16px;    
    margin: 0;
    padding: 0;
}

/* attribution */
.attribution {
    background-color: whitesmoke;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.attribution a {
    color: hsl(226, 5%, 53%);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-Karla);
    font-weight: 400;
    font-size: .8rem;
    background-color: #fff;
    min-height: 3.8rem;
    padding: 10px 6.75rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
.logo img {
    max-width: 125px;
    cursor: pointer;
}
.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-item {
    margin-right: 10px;
}
.menu-item a {
    color: var(--Dark-Grayish-Violet);
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .9rem;
    font-weight: bold;
}
.menu-item a:hover {
    color: #000;
}
.header-button {
    background-color: white;
    border: none;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--Dark-Grayish-Violet);
    transition: all 0.5s ease-out;
    padding: 7px 15px;
    font-size: .8rem;
    font-weight: 400;
}
.header-button:hover {
    background-color: #000;
    color: white;
    border-color: black;
}
.menu-logo {
    display: none;
}

/* Main */

/* Hero */
.hero {
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    display: flex;
    min-height: 580px;
    flex-direction: row;
    position: relative;
}
.hero::before {
    content: url(images/bg-pattern-intro-left-desktop.svg);
    transform: scale(0.8);
    position: absolute;
    left: -20px;
    bottom: -320px;
    z-index: 1;
}
.hero::after {
    content: "";
    background: url(images/bg-pattern-intro-right-desktop.svg) no-repeat;
    background-position: right -70px;
    background-size: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.hero .hero-text::before {
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color: var(--Very-Light-Gray);
    position: absolute;
    top: 90px;
}
.hero-text {
    padding: 90px 100px;
    text-align: left;
    z-index: 10;
}
.hero-heading {
    margin-bottom: 20px;
    margin-top: 45px;
    width: 450px;
    font-size: 3.8rem;
    font-family: var(--font-Serif);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 1.8px;
    font-weight: 400;
}
.hero-paragraph {
    font-size: 1rem;
    width: 550px;
    line-height: 1.6;
    margin: 30px 0;
    margin-bottom: 30px;
    font-family: var(--font-Karla);
}
.hero-button {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--Very-Light-Gray);
    background-color: transparent;
    width: 150px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--Very-Light-Gray);
    font-weight: bold;
}
.hero-button:hover {
    background-color: #fff;
    color: var(--Dark-Violet);
}
.hero-image {
    flex: 1;
    text-align: center;
    left: 655px;
    position: absolute;
    margin-top: 90px;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Centered section */

.centered-section {
    padding: 0 8%;
    margin-top: 260px;
    text-align: left;
}
.centered-heading {
    margin-bottom: 60px;
    font-size: 64px;
    font-family: var(--font-Serif);
    font-weight: bold;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.centered-block {
    flex: 1;
    padding: 0 20px;
    text-align: left;
}
.block-heading {
    margin: 20px 0;
    font-family: var(--font-Serif);
    font-weight: bold;
    font-size: 28px;
}
.block-paragraph {
    font-size: 1rem;
    margin-bottom: 30px;
    color: var(--Dark-Grayish-Violet);
    font-family: var(--font-Karla);
    line-height: 1.6;
}
.centered-block img {
    max-width: 100%;
    height: auto;
}
.centered-section::before {
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    margin: 40px auto;
    background-color: var(--Dark-Grayish-Violet);
    border-radius: 40%;
    margin-left: 0;
}

/* Services section */

.services-section {
    display: flex;
    justify-content: center;
    text-align: left;
    color: var(--Very-Light-Gray);
    margin: 80px 0;
    padding: 0 8%;
}
.services-heading {
    color: #fff;
    font-family: var(--font-Serif);
    font-weight: bold;
    font-size: 50px;
    width: 50%;
    line-height: .9;
    font-weight: 400;
}
.services-button {
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--Very-Light-Gray);
    background-color: transparent;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--Very-Light-Gray);
    font-weight: bold;
}
.services-button:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Violet);
}
.content-block {
    background-color: var(--Dark-Violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 80px;
    font-weight: 400;
    width: 100%;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
}

/* Footer */

.footer {
    background-color: var(--Very-Light-Gray);
    color: #000;
    padding: 0 6.75rem;
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--Grayish-Blue);
}
.footer-block img {
    max-width: 125px;
}
.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-icons li {
    margin-right: 20px;
}
.social-icons a img {
    width: 25px;
    height: 25px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 1px;
    font-family: var(--font-Karla);
    text-transform: uppercase;
}
.footer-list ul {
    list-style: none;
}
.title-list {
    color: var(--Dark-Grayish-Violet);
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-list li {
    color: var(--Dark-Grayish-Violet);
    margin-top: 20px;
    font-weight: bold;
}
.footer-list a {
    transition: all 0.3s ease;
    color: var(--Dark-Violet);
    font-weight: bold;
    text-decoration: none;
    font-size: .9rem;

}
.footer-list a:hover {
    text-decoration: underline;
}

/* Media queries */

@media (max-width: 1050px) {
    .header {
        padding: 10px 3rem;
    }
    .hero-paragraph {
        width: 350px;
    }
    .hero-heading {
        width: 350px;
    }
    .hero-image img {
        max-width: 400px;
    }
    .hero-image {
        left: 480px;
    }
}

@media (max-width: 925px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero-text {
        text-align: center;
        position: relative;
    }
    .hero-heading {
        width: auto;
    }
    .hero-paragraph {
        width: auto;
    }
    .hero-image {
        position: initial;
    }

    .centered-section {
        text-align: center;
    }
    .centered-content {
        text-align: center;
        flex-direction: column;
    }
    .centered-block {
        text-align: center;
    }

    .content-block {
        padding: 40px;
        gap: 20px;
        flex-direction: column;
        text-align: center;
    }
    .services-heading {
        width: auto;
    }

    .footer {
        padding: 2rem 6.75rem;
    }
    .footer-block {
        padding: 20px;
        flex-direction: column;
    }
    .footer-bottom {
        align-items: center;
        flex-direction: column;
    }
    .footer-list {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .footer {
        padding: 4rem 6.75rem;
        background-image: url(images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
    }

    .services-heading {
        font-size: 2.5rem;
        width: auto;
    }
    .content-block {
        padding: 70px 40px;
        gap: 30px;
        flex-direction: column;
        text-align: center;
        font-weight: 400;
        background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    }
    .services-section {
        padding: 0 5%;
    }

    .centered-section {
        margin-top: 150px;
        text-align: center;
    }
    .centered-section::before {
        margin: 40px auto 40px auto;
        align-items: center;
        text-align: center;
    }
    .centered-heading {
        font-size: 3rem;
    }

    .hero-image img {
        max-width: 100%;
    }
    .hero-image {
        position: sticky;
        margin-top: 0;
    }
    .hero-paragraph {
        font-size: 1.15rem;
        padding: 0 30px;
    }
    .hero-heading {
        font-size: 2.8rem;
        padding: 0 30px;
        margin: 0;

    }
    .hero .hero-text::before {
        display: none;
    }
    .hero-text {
        padding: 80px 30px;
        text-align: center;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .hero {
        flex-direction: column-reverse;
    }
    .hero::before {
        content: url(images/bg-pattern-intro-left-mobile.svg);
        bottom: 363px;
    }
    .hero::after {
        background: url(images/bg-pattern-intro-right-mobile.svg) no-repeat;
        background-position: right bottom;
        position: absolute;
        bottom: -170px;
    }

    .menu {
        display: none;
    }
    .menu-logo {
        display: block;
    }
    .menu.visible {
        display: flex;
    }
    .menu-list.visible {
        left: 0;
        opacity: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 9.75rem);
        padding: 2rem 0;
        position: absolute;
        top: 4.5rem;
        z-index: 1;
        background: var(--Very-Dark-Violet) url(images/bg-pattern-mobile-nav.svg) no-repeat;
        color: black;
        text-transform: uppercase;
        background-size: 100% 218px;
        background-position: center bottom;
    }
    .menu-item {
        margin: 0.75rem 0.75rem;
    }
    .menu-item a {
        color: var(--Very-Light-Gray);
        font-size: 1.2rem;
    }
    .menu-item .header-button {
        display: block;
        font-size: 1.2rem;
        border-color: var(--Very-Light-Gray);
        color: var(--Very-Light-Gray);
        background-color: transparent;
        transition: all .3s ease;
    }
    .menu-item a:hover {
        color: var(--Very-Light-Gray);
        text-decoration: underline;
    }
    .menu-item .header-button:hover {
        color: var(--Dark-Violet);
        background-color: var(--Very-Light-Gray);
    }
}
